.fab:hover{
    
    color: rgb(21, 75, 21);
    
}
.fas:hover{
    
    color: rgb(21, 75, 21);
    
}

.fa-facebook-square{
  color: rgb(0, 140, 255);
  border: 1px solid green;
    padding: 15px;
    margin: 15px;
    font-size: 70px ;  
}
.fa-twitter-square{
  color: rgb(44, 155, 247); 
  border: 1px solid green;
    padding: 15px;
    margin: 15px;
    font-size: 70px ; 
}
.fa-comment{
  color: rgb(136, 238, 133);
  border: 1px solid green;
    padding: 15px;
    margin: 15px;
    font-size: 70px ;  
}
.fa-youtube-square{
  color: rgb(204, 45, 45); 
  border: 1px solid green;
    padding: 15px;
    margin: 15px;
    font-size: 70px ; 
}
.fa-instagram-square{
  color: rgb(212, 47, 190);
  border: 1px solid green;
    padding: 15px;
    margin: 15px;
    font-size: 70px ;  
}







.contactDiv1{
    height: 531px;
   padding-top: 200px;
}
